/*
Main Text Color: Black (#000000)
Secondary Text and Reading Background Color: White (#FFFFFF)
Background Color: #bdbdbd
Accent and Interactive Feature Color: #70116b
Main Color: "RebeccaPurple" (#663399)
Font(s) used: Alexandria
*/

/* Generic Tags */
:root {
    --mainText: black;
    --secondaryText: white;
    --backgroundColor: #bdbdbd;
    --accentColor: #70116b;
    --mainColor: #663399;
    --borderColor: #160429;
}


body {
    background-color: var(--backgroundColor);
    margin-left:5px;
    margin-right:5px;
}

header {
    background-color: var(--secondaryText);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:10px;
    border:16px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
}

#logo{
    height:60px;
    width:60px;
    float:left;
    margin-right:10px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family:'Alexandria';
    color: var(--mainText);
    padding:10px;
}

header h1{
    display:inline;
}

h1 {
    font-size:36pt;
}

h3 {
    font-size:20pt;
}

p {
    font-size:10pt;
}

main {
    background-color: var(--secondaryText);
    border-radius:10px;
    overflow:auto;
    margin-left:5px;
    margin-right:5px;
}

aside {
    background-color: var(--secondaryText);
    border-radius:10px;
}

footer {
    background-color: var(--mainColor);
    border-radius:10px;
    font-family:'Alexandria';
    left:0;
    bottom:0;
    margin-top:5px;
    color:white;
}

button {
    background-color: #663399;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family:'Alexandria';
    font-size: 16px;
}

/* Navigation bar */
nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    margin-left:5px;
}

nav li {
    border: solid white 2px;
    background-color: var(--mainColor);
    list-style-type: none;
    float:left;
    width:12.47%;
    padding:16px;
    text-align:center;
}

nav li a {
    color: var(--secondaryText);
    text-align:center;
    text-decoration: none;
    font-size:large;
}

nav li:hover {
    background-color: var(--mainText);
}

.active {
    background-color: var(--accentColor);
}



/* Table */

table {
    font-family:'Alexandria';
    border-collapse: collapse;
    width:100%;
    font-size:10px;
}

table td, table th {
    border: 2px solid #F0F0F0;
    padding:10px;
    text-align:center;
    vertical-align:middle;
    width:12.5%;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table tr:hover {
    background-color: var(--backgroundColor);
}

table th {
    background-color: var(--accentColor);
    color: white;
    text-align:center;
    vertical-align:middle;
    font-size:12px;
}

/* Event Calendar - Form */

.recommendEvents {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:10px;
    border: 1px solid black;
    border-radius:5px;
    float:left;
    font-family:'Alexandria';
    max-width:80%;
}

/* Teams page - Table */

.goodStat {
    color: green;
}

.badStat {
    color: red;
}


/* Teams page - Lists */

div.simpleStatBox {
    margin-left:35%;
    font-family:'Alexandria';
    font-size:15px;
}

div.simpleStat {
    border: solid #663399 2px;
    display: table-cell;
    padding:1%;
}

div.simpleStatMid {
    border-top: solid #663399 2px;
    border-bottom: solid #663399 2px;
    display: table-cell;
    padding:1%;
}

div.buttonStat{
    margin-top:0.1%;
    margin-left:35%;

    font-family:'Alexandria';
}

div.buttonStat button{
    background-color: #663399;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family:'Alexandria';
    font-size: 16px;
}

.csgoBad {
    color: red;
}

.csgoGood {
    color: green;
}

.lolBad {
    color: red;
}

.lolGood {
    color: green;
}

.rlBad{
    color: red;
}

.rlGood{
    color: green;
}

.black-ul > li{
    color:black;
}

.centerH3 {
    text-align:center;
}



.twitterCenter{
    padding-bottom:1%;
    padding-left:35%;
}

#centerH6 {
    text-align:center;
}


/* Form Universal CSS */


fieldset{
    background-color: var(--secondaryText);
}

input, label{
    font-family:'Alexandria';
}





/* Contact Us Specific */
#left-col{
    float:left;
    background-color:var(--secondaryText);
}

#right-col{
    float:right;
    padding-right:3%;
    padding-bottom:3%;
}


.contactForm {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:10px;
    border: 1px solid black;
    border-radius:5px;
    float:left;
    font-family:'Alexandria';
    max-width:80%;
}

.contactForm input {
    margin:5px;
}



/*  Carousel  */

#home-carousel .carousel-item{
    height:100%;
    width:100%;
    border:2px solid #663399;
}

#home-carousel .carousel-item-active{
    height:100%;
    width:100%;
}

#home-carousel .carousel-item img{
    height:100%;
    width:100%;
}


.white-text{
    color:white;
}


/* Image Gallery */

.gallery-img{
    width:100%;
    height:100%;
}

#img-gallery{
    padding-top:10px;
}

#img-gallery .row{
    margin-bottom:10px;
}


/* Aside Content - aka Article */

.articleImage{
    width:100px;
    height:100px;
    float:left;
    margin:5px;
}


.article {
    border: 2px solid #663399;
    text-align:left;
    padding-top:10px;
}

/* Community Night */

.winnerBox{
    border-top:5px solid #663399;
    padding-top:20px;
    padding-bottom:50px;
    text-align:left;
    font-size:12px;
    margin-top:50px;
}

.winnerBox img{
    width:200px;
    height:200px;
    float:left;
}

.winnerBox strong{
    font-size:20px;
}


/* Accordion */

.accordion-button {
    border-color: #663399;
    box-shadow: 0 0 0 0.125rem rgba(102, 51, 153, 1);
}

.accordion-button:focus {
    border-color: #663399;
    box-shadow: 0 0 0 0.125rem rgba(102, 51, 153, 1);
 }