:root {
    --mainText: black;
    --secondaryText: white;
    --backgroundColor: steelblue;
    --accentColor: #36006C;
    --mainColor: rebeccapurple;
}

body {
    background-color: var(--backgroundColor);
}

header {
    background-color: var(--secondaryText);
    padding: 2%;
    margin:5%;
    border-radius: 50%;
    text-align:center;
}

h1, h2, h3, h4, h5, h6, p {
    font-family:'Alexandria';
    color: var(--mainText);
}

h1 {
    font-size:36pt;
    color:aquamarine;
}

h3 {
    font-size:20pt;
    color:orange;
}

p {
    font-size:10pt;
}

main {
    background-color: var(--secondaryText);
    border-radius:10px;
}

aside {
    background-color: var(--secondaryText);
    border-radius:10px;
}

footer {
    background-color: var(--mainColor);
    border-radius:10px;
}

nav li {
    border: 2px solid;
    border-color: var(--accentColor);
    background-color: var(--mainColor);
    list-style-type: none;
}

nav li a {
    color: var(--secondaryText);
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: var(--accentColor);
}

.active {
    background-color: var(--accentColor);
}

table {
    font-family:'Alexandria';
    border-radius: 5%;
    border-style:ridge;
}

table td, table th {
    border: 2px solid #F0F0F0;
    border-color: greenyellow;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table tr:hover {
    background-color: var(--backgroundColor);
}

table th {
    background-color: var(--mainColor);
    color: white;
}